html {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
}

:root {
	--text-white: #fff;
	--text-red: rgb(238, 18, 18);
	--gap: 30px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: 100%;
}

input {
	list-style-type: none;
}

/* FONTS */
@font-face {
	font-family: "OpenSans";
	src: local("OpenSans-Regular"),
		url("/fonts/OpenSansRegular.woff2") format("woff2"),
		url("/fonts/OpenSansRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans-Light"), url("/fonts/OpenSansLight.woff") format("woff2"),
		url("/fonts/OpenSansLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans-Light"),
		url("/fonts/OpenSansSemiBold.woff") format("woff2"),
		url("/fonts/OpenSansSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
/* ---------------------------------------------- */

/* Global */
.list-reset {
	margin: 0;
	padding: 0px;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.flex {
	display: flex;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.sections-title {
	margin: 0;
	margin-bottom: 40px;
}

.sections-title {
	color: #1c1c1c;
	font-size: 36px;
	font-weight: 300;
	line-height: 130%; /* 46.8px */
}

.sections-desc {
	margin: 0;
	margin-bottom: 50px;

	color: #787878;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.section-offset {
	padding-top: 87px;
	padding-bottom: 160px;
}

/* header */

.header {
	padding: 36px 0px;
	border-bottom: 1px solid #c4c4c4;
	background-color: #fff;
}

.header-container {
	align-items: center;
}

.header-logo {
	margin-right: auto;
}

.header-nav {
	margin-right: 52px;
}

.header-list-link {
	position: relative;
	font-weight: 600;
	color: #1c1c1c;
	font-size: 15px;
	transition: color 0.2s ease-in-out;
}

.header-list-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #3474ba;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.header-list-link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.header-list-link:hover {
	color: #71a7e2;
}

.header-list-link:active {
	color: #3474ba;
	outline: none;
}

.header-list-link:active::after {
	opacity: 1;
}

.header-list-item:not(:last-child) {
	margin-right: 52px;
}

.btn {
	position: relative;
	outline: none;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	font-family: inherit;
	text-transform: uppercase;
	padding: 15px 35px;
	border-radius: 3px;
	background-color: #3172b9;
	transition: background-color 0.2s ease-in-out;
}

.btn::after {
	content: "";
	position: absolute;
	top: -3px;
	right: -3px;
	left: -3px;
	bottom: -3px;
	border-radius: inherit;
	border: 1px solid #3172b9;
	opacity: 0;
	outline: none;
	transition: opacity 0.2s ease-in-out;
}

.btn:focus::after {
	opacity: 1;
}

.btn:hover {
	background-color: #71a7e2;
}

.btn:active {
	background-color: #0e3b6c;
}

.btn:active::after {
	opacity: 0;
}

/* Hero-section */

.hero {
	padding-top: 100px;
	padding-bottom: 150px;

	background-image: url("/img/hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hero-content {
	max-width: 50%;
	flex-direction: column;
	align-items: flex-start;
}

.hero-title {
	margin: 0;
	margin-bottom: 25px;
	font-weight: 300;
	font-size: 40px;
	line-height: 130%; /* 52px */
}

.hero-desc {
	margin: 0;
	margin-bottom: 34px;
	font-weight: 400;
	font-size: 16px;
	line-height: 155%;
	color: #787878;
}
.hero-btn-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-btn {
	min-width: 250px;
	padding: 20px 0 20px 0;
	margin-bottom: 14px;
}

.hero-secure {
	color: #787878;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 155%; /* 17.05px */
	text-transform: uppercase;
}

.hero-secure {
	background-image: url("/img/hero-secure.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 14px 17px;
	padding-left: 30px;
}

/* Services */

.services {
	border-bottom: 1px solid #dadada;
}

.services-title {
	text-align: center;
}

.services-desc {
	text-align: center;
}

.services-list {
	--offsets: 3; /*  //кол-во отступов */
	gap: var(--gap);
	flex-wrap: wrap;
}

.services-list-item {
	flex-direction: column;
	align-items: center;
	padding: 60px 30px;
	border: 1px solid #e4e4e4;
	width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets)+1));
	border-radius: 5px;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.services-list-item:hover {
	border-color: #3172b9;
	background-color: #3172b9;
}

.services-list-item-icon {
	fill: #3172b9;
	margin-bottom: 25px;
	transition: fill 0.2s ease-in-out;
}

.services-item-title {
	margin: 0;
	margin-bottom: 15px;

	color: #1c1c1c;
	font-size: 20px;
	font-weight: 600;
	line-height: 130%;
	transition: color 0.2s ease-in-out;
}

.services-list-item:hover .services-item-title {
	color: #fff;
}

.services-item-desc {
	margin: 0;
	text-align: center;

	color: #787878;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	transition: color 0.2s ease-in-out;
}

.services-list-item:hover .services-item-desc {
	color: #fff;
}

.services-list-item:hover .services-list-item-icon path {
	fill: #fff;
}

/* Articles */
.articles {
	border-bottom: 1px solid #dadada;
}

.articles-list {
	flex-wrap: wrap;
	--offsets: 1;
	gap: var(--gap);
}

.articles-list-item {
	/* width: 570px; */
	width: calc((100% - var(--offsets) * var(--gap) / (var(--offsets))+ 1));
	margin-bottom: 30px;
	/* outline: 1px solid orange; */
}

.blog-preview {
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
}

.blog-preview-image {
	object-fit: cover;
}

.blog-preview-text {
	padding: 30px;
}

.blog-preview-time {
	display: block;
	margin-bottom: 5px;
	font-size: 10px;
	line-height: 150%; /* 15px */
	color: #787878;
	transition: color 0.2s ease-in-out;
}

.blog-preview-title {
	margin: 0;
	margin-bottom: 15px;
	color: #1c1c1c;
	font-size: 20px;
	line-height: 130%; /* 26px */
	transition: color 0.2s ease-in-out;
}

.blog-preview-desc {
	margin: 0;
	max-width: 210px;
	color: #787878;
	font-size: 14px;
	line-height: 150%; /* 21px */
	transition: color 0.2s ease-in-out;
}

.blog-preview-link {
	display: flex;
	position: relative;
	width: 100%;
	transition: background-color 0.2s ease-in-out;
}

.blog-preview-link:focus {
	background-color: #71a7e2;
}

.blog-preview-link:focus .blog-preview-title {
	color: #fff;
}

.blog-preview-link:focus .blog-preview-desc {
	color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
	color: #fff;
}

/* ------------------------------- */

.blog-preview-link:hover {
	background-color: #3172b9;
}

.blog-preview-link:hover .blog-preview-title {
	color: #fff;
}

.blog-preview-link:hover .blog-preview-desc {
	color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
	color: #fff;
}

/* ------------------------------------------ */

.blog-preview-link:active {
	background-color: #71a7e2;
}

.blog-preview-link:active .blog-preview-title {
	color: #fff;
}

.blog-preview-link:active .blog-preview-desc {
	color: #fff;
}

.blog-preview-link:active .blog-preview-time {
	color: #fff;
}

/* ------------------------------- */

.blog-preview-link:active {
	background-color: #0e3b6c;
}

.blog-preview-link:active .blog-preview-title {
	color: #fff;
}

.blog-preview-link:active .blog-preview-desc {
	color: #fff;
}

.blog-preview-link:active .blog-preview-time {
	color: #fff;
}

/* ------------------------------------------ */

/* Clients */

.clients {
	border-bottom: 1px solid #dadada;
}

.clients-list {
	--offsets: 2;
	gap: var(--gap);
	flex-wrap: wrap;
}

.clients-list-item {
	flex-direction: column;
	/* width: calc((100% - 30px * 2) / 3); */
	width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
	padding: 50px 36px;
	padding-bottom: 30px;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
}

.clients-item-desc {
	margin: 0;
	margin-bottom: 30px;

	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */
}

.clients-user {
	margin-top: auto;
	align-items: center;
	border-top: 1px solid #dadada;
	width: 100%;
	padding-top: 28px;
}

.clients-avatar {
	width: 167px;
	margin-right: 17px;
}

.clients-avatar-img img {
	width: 100%;
	height: 100%;
	border: 2px solid #3172b9;
	border-radius: 100%;
}

.clients-name {
	margin-bottom: 5px;

	color: #1c1c1c;
	font-size: 17px;
	line-height: 180%; /* 30.6px */
}

.clients-post {
	color: #787878;
	font-size: 14px;
	line-height: 180%; /* 25.2px */
}

/* Contacts */

.contacts {
	border-bottom: 1px solid #dadada;
}

.contacts-address {
	font-style: normal;
}

.contacts-list {
	--offsets: 2;
	gap: var(--gap);
	flex-wrap: wrap;
}

.contacts-item {
	flex-direction: column;
	/* width: 370px; */
	width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
	padding-top: 48px;
	background-size: 29px 29px;
	background-position: left top;
	background-repeat: no-repeat;
	background-position: left top;
	background-repeat: no-repeat;
}

.contacts-item-1 {
	background-image: url("/img/contacts-1.svg");
}

.contacts-item-2 {
	background-image: url("/img/contacts-2.svg");
}

.contacts-item-3 {
	background-image: url("/img/contacts-3.svg");
}

.contacts-item-caption {
	margin-bottom: 30px;
	color: #1c1c1c;
	font-size: 17px;
	line-height: 180%;
}

.contacts-item-text {
	margin: 0;
	max-width: 215px;
	color: #787878;
	font-size: 14px;
	line-height: 180%;
}

.contacts-item-link {
	display: block;
	color: #787878;
	font-size: 14px;
	line-height: 180%;
	transition: color 0.2s ease-in-out;
}

.contacts-item-link:focus {
	outline: 1px solid #71a7e2;
	width: 100%;
}

.contacts-item-link:hover {
	color: #71a7e2;
}

.contacts-item-link:active {
	outline: none;
	color: #0e3b6c;
}

/* Join-us */

.join-us {
	border-bottom: 1px solid #dadada;
}

.join-title {
	text-align: center;
}

.join-desc {
	text-align: center;
	margin-bottom: 30px;
}

.join-form {
	padding-left: 56px;
	padding-right: 56px;
}

.form-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
}

.form-left {
	display: flex;
	flex-wrap: wrap;
	max-width: 50%;
	gap: 19px;
}

.form-right {
	max-width: 50%;
}

.join-input {
	border: 1px solid DADADA;
	border-radius: 50px;
	padding: 16px 28px;
	width: 251px;
	height: 60px;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.join-input:nth-child(-n + 2) {
	margin-bottom: 19px;
}

.join-input:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.join-input:hover {
	border-color: #71a7e2;
}

.join-input:active {
	border-color: #0e3b6c;
}

/* ---------------------------------------- */
.join-select:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.join-select:hover {
	border-color: #71a7e2;
}

.join-select:active {
	border-color: #0e3b6c;
}

/* ---------------------------------------- */

.join-textarea:focus {
	outline: none;
	border-color: #71a7e2;
	background-color: rgba(113, 167, 226, 0.2);
}

.join-textarea:hover {
	border-color: #71a7e2;
}

.join-textarea:active {
	border-color: #0e3b6c;
}

.join-select {
	padding: 15px 28px;
	border-radius: 50px;
	border: 1px solid #dadada;
	box-sizing: border-box;
	opacity: 0.6;
	width: 251px;
	height: 60px;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.join-textarea {
	border-radius: 20px;
	border: 1px solid #dadada;
	border-radius: 20px;
	resize: none;
	box-sizing: border-box;
	padding: 16px 28px;
	opacity: 0.6;
	height: 100%;
	width: 520px;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.form-bottom {
	display: flex;
	justify-content: flex-end;
}

/* Join-bottom */
.form-bottom-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.btn-join {
	min-width: 230px;
	padding-top: 20px;
	min-height: 60px;
	padding-bottom: 20px;
	margin-bottom: 9px;
	border-radius: 50px;
	background: #3172b9;
}

.join-bottom-checkbox {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #787878;
}

/* Footer */

.footer {
	padding: 42px 0;
}

.footer-container {
	align-items: center;
	justify-content: space-between;
}

.footer-copy {
	color: #787878;
	font-size: 12px;
	line-height: 180%;
}

.footer-left,
.footer-right {
	align-items: center;
}

.footer-link {
	color: #787878;
	font-size: 15px;
	line-height: 180%;
	transition: color 0.2s ease-in-out;
}

.footer-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #3474ba;
	opacity: 0;
}

.footer-link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.footer-link:hover {
	color: #71a7e2;
}

.footer-link:active {
	color: #3474ba;
	outline: none;
}

.footer-link:active::after {
	opacity: 1;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
}

.social-item:not(:last-child) {
	margin-right: 32px;
}

.social-link svg {
	fill: #000;
	transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.social-link-mail svg {
	fill: transparent;
	stroke: #000;
}

.social-link:focus {
	outline-offset: 2px;
	outline: 1px solid #71a7e2;
}

.social-link svg:hover {
	fill: #71a7e2;
}

.social-link svg:active {
	fill: #3172b9;
}

/* .social-twitter {
	background-image: url("/img/twitter-logo.svg");
}

.social-linkedin {
	background-image: url("/img/linkedin-logo.svg");
}

.social-mail {
	background-image: url("/img/emaillogo.svg");
} */

.footer-nav {
	margin-right: 56px;
}

.footer-logo-link {
	margin-right: 25px;
}

.footer-item:not(:last-child) {
	margin-right: 28px;
}
